address: 0.0.0.0
admin_domain: Default
admin_project: system
admin_project_domain: default
agent_temp_limit: 10
agent_temp_path: /opt/cloud/workspace/disks/agent_tmp
allow_router_vms: true
allow_switch_vms: true
auth_token_cache_size: 2048
auto_merge_backing_template: false
auto_merge_delay_seconds: 900
bandwidth_limit: 50
block_io_scheduler: cfq
bridge_driver: openvswitch
bw_download_bandwidth: 10
calculate_quota_usage_interval_seconds: 900
check_system_services: true
chntpw_path: /usr/local/bin/chntpw.static
config_sync_period_seconds: 1800
cron_job_worker_count: 4
debug_client: false
default_image_save_format: qcow2
default_qemu_version: 4.2.0
default_quota_value: default
default_read_bps_per_cpu: 163840000
default_read_iops_per_cpu: 1250
default_request_worker_count: 8
default_write_bps_per_cpu: 54525952
default_write_iops_per_cpu: 416
deploy_server_socket_path: /var/run/onecloud/deploy.sock
dhcp_lease_time: 100663296
dhcp_renewal_time: 67108864
dhcp_server_port: 67
disable_gpu: false
disable_kvm: false
disable_probe_kubelet: true
disable_set_cgroup: false
disk_is_ssd: false
domainized_namespace: false
enable_cpu_binding: true
enable_fallocate_disk: false
enable_health_checker: false
enable_ksm: false
enable_monitor: false
enable_openflow_controller: false
enable_qmp_monitor: true
enable_quota_check: false
enable_rbac: true
enable_remote_executor: true
enable_ssl: false
enable_telegraf: true
enable_template_backing: true
etcd_skip_tls_verify: false
etcd_use_tls: false
executor_socket_path: /var/run/onecloud/exec.sock
fetcherfs_path: /opt/yunion/fetchclient/bin/fetcherfs
health_driver: etcd
help: false
host_cpu_passthrough: true
host_health_timeout: 30
host_lease_timeout: 10
host_type: hypervisor
{% if host_enable_hugepage %}
hugepages_option: native
{% else %}
hugepages_option: transparent
{% endif %}
ignore_nonrunning_guests: true
image_cache_path: /opt/cloud/workspace/disks/image_cache
is_slave_node: false
kubelet_run_directory: /var/lib/kubelet
linux_default_root_user: true
local_image_path:
- /opt/cloud/workspace/disks
log_level: info
log_verbose_level: 0
manage_ntp_configuration: true
max_reserved_memory: 10240
networks:
- {{ host_networks }}
non_default_domain_projects: false
notify_admin_users:
- sysadmin
ovmf_path: /opt/cloud/contrib/OVMF.fd
ovn_eip_bridge: breip
ovn_integration_bridge: brvpc
ovn_mapped_bridge: brmapped
ovn_south_database: tcp:default-ovn-north:32242
ovn_underlay_mtu: 1500
ping_region_interval: 60
platform_name: Cloudpods
port: 0
rack: rack0
rbac_debug: false
rbac_policy_refresh_interval_seconds: 30
recycle_diskfile: true
recycle_diskfile_keep_days: 28
report_interval: 60
request_worker_count: 8
sdn_allow_conntrack_invalid: false
sdn_enable_eip_man: true
sdn_enable_guest_man: true
sdn_pid_file: /var/run/onecloud/sdnagent.pid
sdn_socket_path: /var/run/onecloud/sdnagent.sock
servers_path: /opt/cloud/workspace/servers
set_vnc_password: true
slots: slot0
snapshot_dir_suffix: _snap
snapshot_recycle_day: 1
start_host_ignore_sys_error: false
sync_storage_info_duration_second: 60
temp_path: /opt/yunion/tmp
tenant_cache_expire_seconds: 900
time_zone: Asia/Shanghai
tunnel_padding_bytes: 0
use_boot_vga: false
version: false
windows_default_admin_user: true
