---
- name: set var
  set_fact:
    onecloud_version_abbr: "{{ onecloud_version | regex_replace('[^0-9.]+') | regex_findall('^[0-9]+\\.[0-9]+') | join('')}}"

- name: Check if systemd.unified_cgroup_hierarchy=0 is in /proc/cmdline
  shell: "grep 'systemd.unified_cgroup_hierarchy=0' /proc/cmdline"
  register: unified_cgroup_hierarchy
  ignore_errors: true
  failed_when: false

- block:
  - name: Append systemd.unified_cgroup_hierarchy=0 to GRUB_CMDLINE_LINUX
    shell: |
      GRUB_FILE="/etc/default/grub"
      SEARCH_PATTERN="^GRUB_CMDLINE_LINUX="
      APPEND_TEXT="systemd.unified_cgroup_hierarchy=0 "

      if ! grep -q "systemd.unified_cgroup_hierarchy=0" "$GRUB_FILE"; then
          sed -i.bak.$(date +%Y%m%d-%H%M%S) "/$SEARCH_PATTERN/s/\"/& $APPEND_TEXT/" "$GRUB_FILE"
      fi
    args:
      executable: /bin/bash
    register: grub_update

  - name: Update GRUB
    command: update-grub

  - name: Reboot the system
    ansible.builtin.reboot:

  - name: Wait for the system to become available
    wait_for_connection:
      timeout: 900

  when:
  - unified_cgroup_hierarchy.rc != 0

- name: config iptables for ubuntu 
  shell: |
    if iptables -V |grep -wq nf_tables && ls -l /usr/sbin/iptables |grep -wq alternatives; then
      update-alternatives --set iptables /usr/sbin/iptables-legacy
      update-alternatives --set ip6tables /usr/sbin/ip6tables-legacy
      update-alternatives --set arptables /usr/sbin/arptables-legacy
      update-alternatives --set ebtables /usr/sbin/ebtables-legacy
      if [ -x /usr/bin/aptitude ] && [ ! -x /usr/sbin/nft ]; then
          aptitude install nftables -y
          nft flush ruleset
      fi
    fi
  args:
    executable: /bin/bash

- name: init apt cache for ubuntu 
  get_url:
    url: https://iso.yunion.cn/ubuntu/{{ ansible_distribution_major_version }}/{{ onecloud_version_abbr }}/{{ ansible_architecture }}/yunion.gpg-key.asc
    dest: /tmp/yunion.gpg-key.asc
    validate_certs: no

- name: apply ubuntu sig key
  shell: |
    echo "deb [trusted=yes] https://iso.yunion.cn/ubuntu/{{ ansible_distribution_major_version }}/{{ onecloud_version_abbr }}/{{ ansible_architecture }}/ ./" > /etc/apt/sources.list.d/yunion.list;
    apt-key add /tmp/yunion.gpg-key.asc;
    apt-get update -y;
    rm -f /tmp/yunion.gpg-key.asc
  args:
    executable: /bin/bash

- name: install common packages via loop
  package:
    name: "{{ item }}"
  with_items:
  - "{{ common_packages }}"
  when:
  - common_packages is defined

- name: install latest packages via loop
  package:
    name: "{{ item }}"
    state: latest
  with_items:
  - "{{ latest_packages }}"
  when:
  - latest_packages is defined

- name: Check that if selinux config exists
  stat:
    path: /etc/selinux/config
  register: selinux_conf_exists

- name: Turn off selinux
  selinux:
    state: disabled
  when:
    - selinux_conf_exists.stat.exists

- name: auto restart services 
  become: yes
  command: "sed -i \"s/#\\$nrconf{restart} = 'i';/\\$nrconf{restart} = 'a';/\" /etc/needrestart/needrestart.conf"
