global_defs {
	script_user root
	enable_script_security
	dynamic_interfaces
}

vrrp_script monitor {
	script "{{ vrrp_notify_script }} monitor"
	interval 5
}

vrrp_instance eipgw_128.3 {
	# Interface for VRRP advertisements
	interface {{ vrrp_interface }}

	virtual_router_id {{ vrrp_router_id }}
	priority {{ vrrp_priority }}
	nopreempt

	advert_int 1
	authentication {
		auth_type PASS
		auth_pass oc-eipgw
	}

	# Gateway address for external hosts
	virtual_ipaddress {
		{{ vrrp_vip }}
	}

	track_script {
		monitor
	}

	notify_backup "{{ vrrp_notify_script }} notify BACKUP"
	notify_master "{{ vrrp_notify_script }} notify MASTER"
	notify_fault  "{{ vrrp_notify_script }} notify FAULT"
	notify_stop  "{{ vrrp_notify_script }} notify STOP"
}
