region={{ oc_region }}
auth_url={{ oc_auth_url }}
admin_user={{ oc_admin_user }}
admin_password={{ oc_admin_password }}
admin_project={{ oc_admin_project }}

session_endpoint_type = 'public'
log_level = debug

sdn_pid_file = '/var/run/yunion-sdnagent-eipgw.pid'
sdn_enable_guest_man = false
sdn_enable_eip_man = true
