---
- name: enable CentOS 8 Stream Vault repo
  shell: |
    sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
    sed -i 's/#baseurl/baseurl/g' /etc/yum.repos.d/CentOS-*
    sed -i 's/mirror.centos.org/vault.centos.org/g' /etc/yum.repos.d/CentOS-*
  become: true

- name: Include RedHat General Repo Init
  include_tasks: redhat-general-repo.yml

- name: enable CentOS 8 Stream Vault repo (once again)
  shell: |
    sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
    sed -i 's/#baseurl/baseurl/g' /etc/yum.repos.d/CentOS-*
    sed -i 's/mirror.centos.org/vault.centos.org/g' /etc/yum.repos.d/CentOS-*
  become: true

- name: Enable {{ ansible_distribution }} Modules
  shell: dnf module enable -y "{{dnf_module}}"
  with_items:
  - "{{ dnf_modules }}"
  loop_control:
    index_var: item_index
    loop_var: dnf_module
  become: true
  when:
  - dnf_modules is defined

- name: Include RedHat Family Common Tasks
  include_tasks: redhat.yml

