---

# - name: update common packages for debian 11
#   set_fact:
#     common_packages: "{{ ['libcapstone4'] + common_packages }}"

- name: remove bullseye-backports from sources.list
  shell: |
    sed -i '/bullseye-backports/s/^/#/' /etc/apt/sources.list
    sed -i 's|http://deb.debian.org|https://{{ debian_mirror | default('mirrors.aliyun.com') }}|g' /etc/apt/sources.list
    sed -i 's|http://security.debian.org|https://{{ debian_mirror | default('mirrors.aliyun.com') }}|g' /etc/apt/sources.list
  become: true

- name: Include Debian Family Common Tasks
  include_tasks: debian_10.yml
