- name: Install mysql python for Kylin
  package:
    name: "{{ item }}"
    state: installed
    disablerepo: "*"
    enablerepo: "yunion-*"
  with_items:
  - mariadb-server

- name: pips for mysql/mariadb
  pip:
    name: PyMySQL
