is_debian_based: true
is_ubuntu_based: true
debian_based_arch: amd64

common_packages:
  - apt-transport-https
  - bash-completion
  - bridge-utils
  - ceph-common
  - chntpw
  - conntrack
  - conntrackd
  - curl
  - dkms
  - docker-ce         
  - git
  - glusterfs-common
  - gnupg-agent
  - gnupg2
  - ipset
  - ipvsadm
  - jq
  - kubeadm=1.15.12-00 
  - kubectl=1.15.12-00 
  - kubelet=1.15.12-00 
  - libusb-1.0-0
  - libusbredirparser1
  - librbd1
  - libspice-server1
  - nfs-common
  - ntp
  - openvswitch-switch
  - ovmf
  - parallel
  - python3-selinux
  - software-properties-common
  - usbutils
  - wget
  - "{{ yunion_qemu_package }}"

common_services:
    - ntp
    - yunion-executor

latest_packages:
    - ca-certificates
    - yunion-climc
    - yunion-executor
    - yunion-fetcherfs
    - yunion-ocadm
