#!/bin/bash

CMD=$(basename $0)
TAG="v16.2.14"

if [[ "$CMD" == *"-14" ]]; then
    CMD=${CMD%"-14"}
    TAG="v14.2.22"
elif [[ "$CMD" == *"-16" ]]; then
    CMD=${CMD%"-16"}
    TAG="v16.2.14"
elif [[ "$CMD" == *"-18" ]]; then
    CMD=${CMD%"-18"}
    TAG="v18.2.7"
fi

TTY=""
BIMG={{ image_repository | default('registry.cn-beijing.aliyuncs.com/yunion') }}/ceph:$TAG
CACHEPATH=/opt/yunion/share/image-cache/ceph-${TAG}.tar

{% if k8s_or_k3s | default('k3s') == 'k3s' %}
IMG=$(k3s ctr images list -q | grep -m 1 -w "yunion/ceph")
if [ -z "$IMG" ]; then
    IMG=$(k3s ctr images list -q | grep -m 1 -w "yunionio/ceph")
    if [ -z "$IMG" ]; then
        # image not found, use default image
        IMG=$BIMG
        # first find it in local cache
        NEEDPULL=yes
        if [ -f $CACHEPATH ]; then
            k3s ctr images import $CACHEPATH > /dev/null
            if [ $? -eq 0 ]; then
                # import success, no need to pull from remote
                NEEDPULL=
            fi
        fi
        if [ "$NEEDPULL" == "yes" ]; then
            k3s ctr images pull $IMG{{ ' --plain-http' if online_status == 'offline' else '' }}
            if [ $? -eq 0 ]; then
                # pull success, save image to cache
                mkdir -p $(dirname $CACHEPATH)
                k3s ctr images export $CACHEPATH $IMG --local
            else
                echo "Failed to pull image $IMG"
                exit 1
            fi
        fi
    fi
fi
CTRNAME=ceph-common-$$-$RANDOM
k3s ctr run --rm --net-host \
    --mount type=bind,src=/tmp,dst=/tmp,options=rbind \
    $IMG \
    $CTRNAME \
    /usr/bin/$CMD $@
{% else %}
if [ -t 0 ]; then
    TTY="-it"
fi
IMG=$(docker image ls --filter 'reference=*/yunion/ceph' | grep -m 1 -w "yunion/ceph" | awk '{print $1 ":" $2}')
if [ -z "$IMG" ]; then
    IMG=$(docker image ls --filter 'reference=*/yunionio/ceph' | grep -m 1 -w "yunionio/ceph" | awk '{print $1 ":" $2}')
    if [ -z "$IMG" ]; then
        # image not found, use default image
        IMG=$BIMG
        # first find it in local cache
        NEEDPULL=yes
        if [ -f $CACHEPATH ]; then
            docker load -i $CACHEPATH > /dev/null
            if [ $? -eq 0 ]; then
                # import success, no need to pull from remote
                NEEDPULL=
            fi
        fi
        if [ "$NEEDPULL" == "yes" ]; then
            docker pull $IMG
            if [ $? -eq 0 ]; then
                # pull success, save image to cache
                mkdir -p $(dirname $CACHEPATH)
                docker save $IMG -o $CACHEPATH
            else
                echo "Failed to pull image $IMG"
                exit 1
            fi
        fi
    fi
fi

docker run --rm --network host $TTY \
    -v /tmp:/tmp \
    $IMG \
    /usr/bin/$CMD $@
{% endif %}

