---
- name: Define kernel regex
  set_fact: kernel_regex="\.yn[0-9]{8}\."

- name: test if nbd is supported
  shell: modprobe nbd
  register: nbd_status
  ignore_errors: yes
  no_log: true
  failed_when: false

- name: nbd facts
  set_fact:
    nbd_ok: true
  when: nbd_status.rc == 0

- name: Is Cloud kernel running
  shell: |
    uname -r | grep -E "{{ kernel_regex }}"
  register: is_yunion_kernel_running
  changed_when: false
  failed_when: false

- name: Is cloud kernel installed
  shell: |
    count=$(rpm -qa |grep kernel |grep -E "{{ kernel_regex }}" |wc -l)
    [[ "$count" -ge 3 ]]
  register: is_yunion_kernel_installed
  changed_when: false
  failed_when: false

- name: check is_yunion_kernel_installed.rc {{ is_yunion_kernel_installed.rc }}
  shell: echo is_yunion_kernel_installed.rc {{ is_yunion_kernel_installed.rc }}

- name: install customized kernel
  include: "{{ ansible_distribution | lower }}-{{ ansible_architecture }}.yml"
  when:
  - nbd_ok|default(false)|bool == false
  - is_yunion_kernel_installed.rc != 0

  # TODO split for all arch, distribution, online/offline status

  # TODO
- name: generate grub
  shell: |
    echo TODO

- name: Reboot system if not cloud kernel, it should take a few minutes...
  reboot:
    reboot_timeout:  900 # 15 mins
    connect_timeout: 900 # 15 mins
    msg: "rebooting host to enable cloud kernel ... please wait... "
    test_command: "uname -r | grep -qE '{{ kernel_regex }}'   "
  when:
  - is_yunion_kernel_running.rc != 0
  - ansible_connection == "ssh"
  - k8s_node_as_oc_host|default(false)|bool == true
  - is_centos_based is defined
  - nbd_ok|default(false)|bool == false

# to "ignore Running reboot with local connection would reboot the control node"
# warning
- name: force reboot the primary node if applicable
  shell: reboot
  when:
  - must_reboot |default(false)|bool == true
  - is_yunion_kernel_running.rc != 0
  - k8s_node_as_oc_host|default(false)|bool == true
  - is_centos_based is defined
  - nbd_ok|default(false)|bool == false
